<br />
<br />
<br />
<div class="hero">
  <div class="container frosty">
    <br />
    <h1>Let's Grow Your Business</h1>
    <hr class="firstrule" />
    <br />
    <h4>From launching a website to building a client base we match you with the right people and resources to get the job done</h4>
    <br />
    <br />
    <div class="row">
      <%= link_to 'Hire', '#', class: "btn btn-primary hire col-xs-7 offset-1 col-lg-4" %>
      <%= link_to 'Get Hired', '#', class: "btn btn-primary get-hired col-xs-7 offset-1 col-lg-4" %>
    </div>
  </div>
</div>