@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
/*.navbar {
  background-color: #ffffff; 
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #ff6600;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin-top: 0;
  position:fixed;
  z-index: 1;
}*/
.testnav-buttons {
  float: right;
}

.login {
  font-size: 18px;
  font-weight: 600;
  color: #50baa9;
  padding-bottom: 0;
  margin-right: 20px;
  margin-top: 25px;
  text-shadow: 0 1px 1px #000000;
}

.sign-up {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #ff6600;
  border-radius: 5px;
  color: #ff6600;
  border-color: #ff6600;
  margin-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
}

.login:hover, .sign-up:hover {
  text-decoration: none;
  background-color: none;
  border-color: #a9a9a9;
  color: #ffffff;
}
.hire:hover, .get-hired:hover {
  text-decoration: none;
  background-color: #ff6600;
  border-color: #a9a9a9;
  color: #ffffff;
}

.hero {
  border-top: 2px solid #ff6600;
  margin-top: 0;  
  background: image_url('heronew.jpeg');
  background: image_url('heronew.jpeg') no-repeat center center relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  box-shadow: 0px -1px 1px #2a2a2a;
  border-top: solid 1px #d3d3d3;
  z-index: -2;
}

.hero-p {
  margin: auto;
}

.logo {
  padding: 0;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

.container.frosty {
  background-color: #FFFFFF;
  font-family: 'Dosis', sans-serif;
  color: black;
  height: 70%;
  opacity: .9;
  width: 37%;
  margin-top: 10%;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
  margin-left: auto;
  text-align: center;
  box-shadow: 0 0 4px #a9a9a9;
  z-index: 0;  
}

.firstrule {
  width: 10%;
  text-align: center;
  border-color: #ff6600;
}

.secondrule {
  width: 10%;
  text-align: center;
  border-color: #50baa9;
}

.thirdrule {
  width: 75%;
  border-color: #50baa9;
}

.hire {
  border-width: 1px;
  background-color:#50baa9;;
  color: #FFFFFF;
  border-color: #50baa9;
  margin: auto;
  font-size: 24px;
  padding-top: 8x;
  padding-bottom: 8px;
  font-weight: 800;
  box-shadow: 0 3px 3px #a9a9a9;
}

.get-hired {
  border-width: 1px;
  background-color:white;
  color: #ff6600;
  border-color: #ff6600;
  margin: auto;
  font-size: 24px;
  padding-top: 8x;
  padding-bottom: 8px;
  font-weight: 800;
  box-shadow: 0 3px 3px #a9a9a9;
}

.clr {
  clear: both;
}

.icon {
  padding-top: 0;
  margin: auto;
}

.how-it-works {
  border-top: 1px solid #ff6600;
  background-color: #e6e6fa;
}

.how-to {
  font-family: "Dosis", sans-serif;
  color: #000000;
  text-align: center;
  width: 60%;
  margin: auto;
  background-color: #e6e6fa;
}

.numbers {
  color: #ff6600;
  border: 1px solid #ff6600;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.description-details {
  font-size: 18px;
}

.service-header {
  font-family: "Dosis", sans-serif;
  color: #808080;
}

.services-sub {
  font-family: "Dosis", sans-serif;
  color: #a9a9a9;
}
.service-list-index {
  border-top: #ff6600;
  background-color: #ffffff;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

.services-index {
  background-color: #ffffff;
  opacity: .8;
  box-shadow: 0 0 20px #a9a9a9;
  text-align: center;
  font-family: "Dosis", sans-serif;
  width: 75%;
}

.more-services-index {
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #ff6600;
  border-radius: 5px;
  color: #ff6600;
  border-color: #ff6600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.book-now {
  border-width: 1px;
  border-radius: 3px;
  background-color:#50baa9;;
  color: #FFFFFF;
  border-color: #50baa9;
  margin: auto;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 600;
  box-shadow: 0 3px 3px #a9a9a9;
}

.wrapper {
  min-height: 30%;
  background-color: #50baa9;
  border-top: 1px solid #ff6600;
  border-left: 1px solid #ff6600;
  border-right: 1px solid #ff6600;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -10px;
}
.footer, .push {
  height: 10px;
  background-color: #50baa9;
}

.footer-header {
  font-family: "Dosis", sans-serif;
  color: #ff6600;
  margin-left: 30px;
}