<!DOCTYPE html>
<html>
  <head>
    <title>Covered - On Demand Business Solutions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= yield %>
    
  <div class="wrapper">
    <br />
    <h4 class="text-center"><b>Power your office with COVERED</b></h4>
    <br />
    <h5 class="footer-header"><b>Follow Us!</b></h5>
    <div class="push"></div>
  </div>
  <footer class="footer"></footer>
  
  </body>
</html>
